---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$code-font-family: "Source Code Pro";
$code-font-size:   16px;


// Our variables
//$base-font-family: "Gentium Book Basic", "Source Sans Pro", Helvetica, Arial, sans-serif;
$head-font-family: "Alegreya Sans SC", Helvetica, Arial, sans-serif;
$head-font-size-print:   12px;
$head-font-weight: bold;
$base-font-family: "Alegreya", Helvetica, Arial, sans-serif;
$base-font-size:   19px;
$head-font-size:   $base-font-size * 1.2;
$head1-font-size:   $base-font-size * 1.4;
$head2-font-size:   $base-font-size * 1.3;
$head3-font-size:   $base-font-size * 1.2;
$head4-font-size:   $base-font-size * 1.1;
$base-font-size-print:   12px;
$base-font-weight: lighter;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%); // #ececeb
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
